* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    background-color: #787878;
  }
  
  .header {
    display: flex;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }
  
  .hero-image {
    margin-top: 77px;
    height: 500px;
    background-image: url("../assets/header-full.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
  
  .nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #64682f;
    z-index: 1;
  }
  
  .main-nav {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 1.3em;
  }
  
  li {
    padding: 20px;
  }
  
  .right {
    margin-left: auto;
  }
  
  a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in;
  }
  
  a:hover {
    color: white;
  }

  .page {
    display: block;
      margin: 40px auto;
      width: 90%;
      border: 1px solid black;
      background-color: #7b8037;
      border-radius: 2px;
  }
  
  h1 {
      margin: 20px auto;
      text-align: center;
  }
  
  .content {
      display: flex;
      flex-direction: column;
      padding: 50px 50px;
  }

  .info {
    font-weight: bold;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
    background-color: #64682f;
    
}
  
.photo-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
}
  
.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 400px;
    margin: 20px 20px;
    transition: all 0.2s ease-in;
}

.photo-grid-item img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
}

.photo-grid-item:hover {
  transform: scale(1.1);
}

  footer {
    text-align: center;
    font-size: 14px;
    padding-top: 2.8em;
    background-color: #7b8037;
    font-weight: bold;
    height: 100px;
  }

  @media only screen and (max-width: 1000px) {
    .main-nav {
      font-size: 0.9em;
      padding: 0;
    }
  
    .hero-image {
      margin-top: 65px;
    }
  }
  
  @media only screen and (max-width: 765px) {
    .main-nav {
      font-size: 0.85em;
    }
  }

  @media only screen and (max-width: 755px) {
    .main-nav {
      font-size: 0.75em;
    }
  
    .hero-image {
      margin-top: 60px;
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 690px) {
    .hero-image {
      margin-top: 61px;
      height: 250px;
    }

    h1 {
      font-size: 26px;
      margin: 20px 20px;
    }
  }
  
  @media only screen and (max-width: 646px) {
    .hero-image {
      margin-top: 60px;
    }
  }
    
  @media only screen and (max-width: 636px) {
    .main-nav {
      flex-wrap: wrap;
      justify-content: center;
      font-size: 0.85em;
    }
    .right {
      margin-left: 0;
  }

  .hero-image {
    margin-top: 122px;
  }
  }
  
  @media only screen and (max-width: 600px) {
    .hero-image {
      margin-top: 122px;
    }
  }
  
  @media only screen and (max-width: 583px) {
    .hero-image {
      margin-top: 122px;
    }
  }